.image-container {
  height: 600px;
}

.image-container img {
  height: 600px;
  width: 600px;
  float: left;
}

.image-container {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

.x-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 600px;
  height: 600px;
  position: relative;
}

.left-arrow {
  position: absolute;
  left: 16px;
  top: 280px;
}

.right-arrow {
  position: absolute;
  left: 565px;
  top: 280px;
}

.carousel-indicators {
  list-style: none;
  width: 600px;
  text-align: center;
  padding: 0;
  position: absolute;
  bottom: 4;
}

.indicator {
  border: 2px black solid;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background-color: white;
  display: inline-block;
}

.hide {
  display: none;
}
